<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="app-title" (click)="goHome()">Movies Platform</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" (click)="goHome()">Home</button>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" (click)="goAllMovies()">
      All Movies
    </button>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" (click)="goFavoriteMovies()">
      Favorite Movies
    </button>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <mat-icon class="icon" [matMenuTriggerFor]="menu">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goAccountDetails()">
        <span>Account Details</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
