<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="title" routerLink="/">
      MOVIES PLATFORM
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" routerLink="/">HOME</button>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" routerLink="/allmovies">
      ALL MOVIES
    </button>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" routerLink="/favoritemovies">
      FAVORITE MOVIES
    </button>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <mat-icon class="icon" [matMenuTriggerFor]="menu">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/accountdetails">
        <span>Account Details</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
