<app-nav-bar></app-nav-bar>

<form action="" [formGroup]="searchForm" class="search-bar">
  <input
    #searchBox
    type="text"
    formControlName="search"
    (keyup)="searchMovies(searchBox.value)"
    class="search-box"
    required
    name="search"
    pattern=".*\S.*"
  />

  <button class="search-btn" type="submit">
    <span>Search</span>
  </button>
</form>

<mat-list class="list">
  <mat-list-item *ngFor="let movie of movies; index as i">
    <mat-icon mat-list-icon>movie</mat-icon>
    <div
      mat-line
      class="title"
      routerLink="../details"
      [queryParams]="{ id: movie.id }"
    >
      {{ movie.title }}
    </div>
    <button
      mat-icon-button
      class="edit"
      routerLink="./update"
      [queryParams]="{ id: movie.id }"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <!-- <mat-checkbox
      mat-icon-button
      [checked]="favoriteArray[i]"
      class="heart-icon-red"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon
        class="heart-icon-red"
        (click)="favorite_unfavorite(movie.id, i)"
        >favorite</mat-icon
      >
    </mat-checkbox> -->

    <mat-button-toggle [checked]="favoriteArray[i]" value="bold">
      <mat-icon
        class="heart-icon-red"
        (click)="favorite_unfavorite(movie.id, i)"
        >favorite</mat-icon
      >
    </mat-button-toggle>

    <button
      mat-icon-button
      aria-label="Example icon-button with menu icon"
      (click)="deleteMovie(movie.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<div class="add-movie">
  <mat-expansion-panel hideToggle class="panel-header">
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title class="panel-header"
        ><mat-icon>add</mat-icon>Add movie
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="addForm" (ngSubmit)="addMovie()">
      <div class="form-group">
        <mat-form-field>
          <mat-label for="title">Title</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label for="description">Description</mat-label>
          <input
            matInput
            type="text"
            formControlName="description"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label for="dateReleased">Date Released</mat-label>
          <input
            matInput
            type="datetime-local"
            formControlName="dateReleased"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
        </mat-form-field>
      </div>

      <button mat-raised-button class="btn btn-primary">Add</button>
    </form>
  </mat-expansion-panel>
</div>
