.heart-icon-red {
  color: red;
}

.edit-icon-red {
  color: blue;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

/* ::ng-deep .mat-expansion-panel-header { */
/* size: 20px; */
/* display: flex;
  flex-wrap: wrap; */
/* } */
.panel-header {
  display: flex;
  flex-wrap: wrap;
  /* size: 20px; */
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
