<app-nav-bar></app-nav-bar>
<form action="" [formGroup]="searchForm" class="search-bar">
  <input
    #searchBox
    type="text"
    formControlName="search"
    (keyup)="searchMovies(searchBox.value)"
    class="search-box"
    required
    name="search"
    pattern=".*\S.*"
  />

  <button class="search-btn" type="submit">
    <span>Search</span>
  </button>
</form>
<div *ngFor="let movie of favoriteMovies">
  <a class="col-1-4" routerLink="../details" [queryParams]="{ id: movie.id }">
    <mat-icon>movie</mat-icon>
    <span>{{ movie.title }}</span>
  </a>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="deleteFavoriteMovie(movie.favoriteId)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
