<app-nav-bar></app-nav-bar>
<label
  >Firstname:
  <input [(ngModel)]="user.firstname" placeholder="firstname" />
</label>
<br />
<label
  >Lastname:
  <input [(ngModel)]="user.lastname" placeholder="lastname" />
</label>
<br />

<label
  >Username:
  <input [(ngModel)]="user.username" placeholder="username" />
</label>
<br />

<label
  >New password:
  <input type="password" [(ngModel)]="newPassword" placeholder="new password" />
</label>
<br />

<button mat-raised-button (click)="goBack()">go back</button>
<button mat-raised-button (click)="update()">Update</button>
